    @import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
    .container {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    
    .signUpButton {
        text-align: center;
        width: 55%;
        border-radius: 40px;
        height: 40px;
        color: white;
        font-family: Questrial;
        font-size: 25px;
        background-color: #5138EE;
        border: none;
    }
    
    .uploadButton {
        height: 30px;
        width: 100px;
    }
    
    .signInButton {
        color: #1A5DDF;
    }
    
    .form-container {
        background: #fffefe;
        padding-left: 20%;
    }
    
    h1 {
        font-family: Bebas Neue;
        font-style: normal;
        font-weight: normal;
        font-size: 72px;
        line-height: 50px;
        text-align: center;
        color: #000000;
    }
    
    input {
        font-family: Questrial;
        padding: 12px 20px;
        font-size: 16px;
    }
    
    h2 {
        font-family: Questrial;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 38px;
        color: #000000;
    }
    
    p {
        font-family: Questrial;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 15px;
        color: #000000;
    }
    
    .img-container {
        height: 100%;
        display: block;
    }
    
    .img {
        float: right;
        max-height: 100vh;
        max-width: 100vh;
        display: block;
        height: 100%;
    }
    
    .small-image {
        height: 150px;
        width: 150px;
    }