@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  font-size: 100%;
  margin: 0;
}

.container {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 50% 50%;
}

.signUpButton {
  text-align: center;
  width: 19rem;
  border-radius: 40px;
  height: 2.5rem;
  color: white;
  font-family: Questrial;
  font-size: 1.5em;
  background-color: #6750f8;
  border: none;
  cursor: pointer;
  margin-top: 3vh;
}

.signUpButton:hover {
  background-color: #361be4;
  transition: 250ms ease-in-out;
}

.signInButton {
  color: #1a5ddf;
}

.form-container {
  width: 50vw;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fffefe;
  padding-left: 5%;
  padding-right: 5%;
  height: 100vh;
}

h1 {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 4.5rem;
  text-align: center;
  color: #000000;
}

.signin {
  display: flex;
  flex-direction: column;
}

h2 {
  font-family: Questrial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 38px;
  color: #000000;
  margin: 7vh 0 5vh 0;
}

p {
  font-family: Questrial;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9em;
  color: #000000;
  margin: 1.5vh 0;
}

.img-container {
  width: 50vw;
  height: 100vh;
}

.img {
  float: right;
  max-height: 100vh;
  width: 50vw;
  display: block;
  height: 100%;
  object-fit: cover;
}

.form {
  margin-right: 5%;
  width: 45vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 45vw;
}

h3 {
  font-family: Questrial;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #000000;
  margin: 2vh 0;
}

@media screen and (max-width: 1024px) {
  .container {
    grid-template-columns: 100%;
  }
  .form-container {
    width: 100vw;
    height: 100vh;
  }
  .img-container {
    display: none;
  }
  header {
    width: 100vw;
  }
}
