@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.container {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 50% 50%;
}

.signUpButton {
    text-align: center;
    width: 55%;
    border-radius: 40px;
    height: 40px;
    color: white;
    font-family: Questrial;
    font-size: 25px;
    background-color: #6750f8;
    border: none;
    cursor: pointer;
}

.continue {
    background-color: darkblue;
}

label {
    cursor: pointer;
}

.uploadButton {
    height: 30px;
    width: 100px;
    cursor: pointer;
}

.signInButton {
    color: #1a5ddf;
}

.form-container {
    width: 100vh;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    background: #fffefe;
    padding-left: 5%;
    padding-right: 5%;
    height: 100%;
}

h1 {
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 50px;
    text-align: center;
    color: #000000;
}

input {
    font-family: Questrial;
    padding: 12px 20px;
    font-size: 16px;
}

h2 {
    font-family: Questrial;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 38px;
    color: #000000;
}

p {
    font-family: Questrial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    color: #000000;
}

.img-container {
    height: 100%;
    display: block;
}

.img {
    float: right;
    max-height: 100vh;
    max-width: 100vh;
    display: block;
    height: 100%;
}

.small-image {
    height: 150px;
    width: 150px;
}

.cardContainer {
    position: fixed;
    right: 0%;
    left: 50%;
    top: 5%;
    bottom: 0%;
    height: 100vh;
    display: flex;
    width: 50vw;
    max-width: 50vw;
    background-size: cover;
    background-image: url("./../assets/cardBack.png");
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonSkill {
    margin: 15px 15px;
    width: 12vw;
    height: 12vh;
    background-color: white;
    border: 2px solid #050d52;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: 1.420vw;
    text-align: center;
    color: #050d52;
    cursor: pointer;
}

.registerButton {
    margin-bottom: 8%;
    width: 10vw;
    height: 8vh;
    background-color: white;
    border: 2px solid #050d52;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: 1.420vw;
    text-align: center;
    color: #050d52;
    cursor: pointer;
}

.buttonSkill:hover {
    background-color: #050d52;
    color: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
    transition: 300ms ease-in-out;
}

.form {
    position: relative;
    margin-right: 5%;
    width: 50vw;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

header {
    width: 50vw;
}