@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  font-size: 100%;
  margin: 0;
}

.container2 {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 50% 50%;
}

.form-container2 {
  width: 50vw;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fffefe;
  /* padding-left: 5%;
  padding-right: 5%; */
  padding: 3% 5%;
  height: 100%;
}

.cardContainer {
  position: fixed;
  right: 0%;
  left: 50%;
  top: 0%;
  bottom: 0%;
  height: 100vh;
  width: 50vw;
  max-width: 50vw;
  background-size: cover;
  background-image: url("./../assets/cardBack.png");
  display: flex;
  flex-direction: column;
  align-items: center;
}

.continue {
  text-align: center;
  width: 19rem;
  border-radius: 40px;
  height: 2.5rem;
  color: white;
  font-family: Questrial;
  font-size: 1.5em;
  border: none;
  cursor: pointer;
  margin-top: 3vh;
  background-color: darkblue;
}

label {
  cursor: pointer;
}

.uploadButton {
  height: 2rem;
  width: 6.5rem;
  cursor: pointer;
}

.signInButton {
  color: #1a5ddf;
}

h1 {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 4.5rem;
  text-align: center;
  color: #000000;
}

input {
  font-family: Questrial;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
}

h2 {
  font-family: Questrial;
  font-size: 2rem;
  line-height: 2.3rem;
  color: #000000;
  margin: 7vh 0 5vh 0;
}

p {
  font-family: Questrial;
  font-size: 0.9em;
  color: #000000;
  margin: 1.5vh 0;
}

.buttonSkill {
  margin: 15px 15px;
  width: 11rem;
  height: 5rem;
  background-color: white;
  border: 2px solid #050d52;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: "Nunito", sans-serif;
  font-size: 1.4em;
  text-align: center;
  color: #050d52;
  cursor: pointer;
}

.registerButton {
  margin-bottom: 8%;
  width: 15rem;
  color: white;
  font-family: "Nunito", sans-serif;
  font-size: 1.5em;
  text-align: center;
  cursor: pointer;
}

.buttonSkill:hover,.buttonSkill:active {
  background-color: #050d52;
  color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
  transition: 300ms ease-in-out;
}

.form {
  margin-right: 5%;
  width: 45vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

header {
  width: 45vw;
}

.upload h3 {
  font-family: Questrial;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #000000;
  margin: 2vh 0;
}

.rounded-input {
  width: 324px;
  height: 40px;
  background: rgba(255, 255, 255, 0.29);
  border: 1px solid rgba(0, 0, 0, 0.32);
  box-sizing: border-box;
  border-radius: 30px;
}

input:focus {
  outline: none;
}

.textfield {
  margin-bottom: 4vh;
}

@media screen and (max-width: 1024px) {
  .container2 {
    grid-template-columns: 100%;
  }
  .form-container2 {
    width: 100%;
  }
  .cardContainer {
    background: none;
    height: auto;
    width: auto;
    position:static;
  }
  .card {
    display: none !important;
  }
  header {
    width: 100vw;
  }
  .form{
    width: 90vw !important;
    margin:0 !important;
  }
  .skills-container {
    width:100vw;
  }
  .registerButton{
    display: block !important;
  }
  .buttonSkill{
    width: 8rem !important;
  }
}
