.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  width: 24rem;
  height: 34rem;

  background: linear-gradient(
    180deg,
    rgba(255, 216, 143, 0.76) 2.55%,
    rgba(255, 254, 248, 0.847126) 95.71%,
    rgba(255, 255, 252, 0.85) 98.25%
  );
  box-sizing: border-box;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  
}
.cardText {
  margin: 1em;
  font-family: "Lobster Two";
  font-style: italic;
  font-weight: normal;
  font-size: 35px;
  line-height: 75px;
  text-align: center;

  color: #090909;
}
.cardImage {
  width: 350px;
}
.userCard {
  object-fit: cover;
  height: 200px;
  width: 200px;
  border-radius: 250px;
}
