.card {
  position: absolute;
  width: 500px;
  height: 600px;
  left: 60%;
  top: 10%;

  background: linear-gradient(
    180deg,
    rgba(255, 216, 143, 0.76) 2.55%,
    rgba(255, 254, 248, 0.847126) 95.71%,
    rgba(255, 255, 252, 0.85) 98.25%
  );
  border: 5px solid rgba(0, 0, 0, 0.38);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}
.cardText {
  position: absolute;
  width: 411px;
  height: 84px;
  left: 8%;
  top: 70%;

  font-family: Lobster Two;
  font-style: italic;
  font-weight: normal;
  font-size: 40px;
  line-height: 75px;
  text-align: center;

  color: #090909;
}
.cardImage {
  position: absolute;
  top: 5%;
}
.userCard {
  position: absolute;
  height:200px;
  width: 200px;
  left: 30%;
  top: 35%;
  border-radius: 250px;
}
